<div class="personal-info">
    <div class="sub-personal-info">
          <div class="personal-input">
           
            <form class="example-form" [formGroup]="GeneralTermsTwoConditionCsdField" autocomplete="off">
              
            <!-- <div class="info-text">
              <col sm="12">
              
            <col/>
              </div> -->
                <div class="head">
                  <!-- 1st column beginning -->
                  <div>
                <div class="sub-head">
                  <span></span>
                 <div class="article">
                  <!-- <span>Costs and Expenses</span> -->
                  <p>Security, and all necessary consents where applicable have been obtained for the
                    acceptance of the Loan, the grant of the Security and the execution and delivery
                    of this agreement and the Security;<br/>
                    <span class="mid-sub-text">11.3</span>the acceptance of the Loan or the grant of the Security do not contravene any
                    agreement or instrument to which he/she or the provider thereof is a party;<br/>
                    <span class="mid-sub-text">11.4</span>he/she is not insolvent nor have any steps been taken or are, to the best of his/her
                    knowledge, threatened against him/her for winding up; no action or litigation is
                    pending or, to the best of his/her knowledge, threatened against him/her which
                    could reasonably have a material adverse effect on his/her business, financial
                    condition or assets;<br/>
                    <span class="mid-sub-text">11.5</span> there are no material facts or circumstances in respect of the borrower or the
                    Customer’s Group, his/her affairs, business and operations which have not been
                    fully disclosed which would be likely to adversely effect the decision of the Bank
                    to advance the Loan.
                  </p>
                  </div>
                  </div>
                  <div class="sub-head">
                    <span>12</span>
                   <div class="article">
                    <span>General Undertakings</span>
                    <p>
                      While the Loan remains available or any amount or commitment remains outstanding,
                      the borrower undertakes to the Bank:<br/>
                      <span class="mid-sub-text">12.1</span>that he/she shall not cease carrying on business;<br/>
                      <span class="mid-sub-text">12.2</span>he/she shall not change his/her accounting policies;<br/>
                      <span class="mid-sub-text">12.3</span>he/she shall not become surety, guarantor for or give indemnity on behalf of any
                      third party or render himself/herself liable in any way whatsoever for the debts or
                      engagements of any other party;<br/>
                      <span class="mid-sub-text">12.4</span>that no assets of the borrower will be encumbered or further encumbered without
                      the Bank’s prior written approval, except for encumbrances in existence at the date
                      of this agreement, full details of which were disclosed in writing to the Bank;<br/>
                      <span class="mid-sub-text">12.5</span>that he/she shall not sell, transfer or otherwise dispose of or attempt to sell, transfer
                      or otherwise dispose of the whole or any substantial part of his/her undertaking,
                      property, assets or revenues, whether by a single transaction or a number of
                      transactions (other than in the ordinary course of his/her business);<br/>
                      <span class="mid-sub-text">12.6</span>that he/she shall not make any material change in the scope or nature of his/her
                      business;<br/>
                      <span class="mid-sub-text">12.7</span>that he/she shall, immediately upon becoming aware of it, notify the Bank of any
                      material litigation, arbitration or administrative proceeding pending or, to the best
                      of his/her knowledge, information and belief, threatened against the borrower;<br/>
                      <span class="mid-sub-text">12.8</span>that he/she shall not change the ownership or shareholding structure of
                      the borrower without the Bank’s prior written consent.
                    </p>
                    </div>
                    </div>
                    <div class="sub-head">
                      <span>13</span>
                     <div class="article">
                      <span>Whole Agreement, Variation of Terms, No Indulgence</span>
                      <p>
                        The agreement created upon acceptance of the agreement by the borrower shall
                        constitute the whole agreement between the Bank and the borrower relating to the
                        subject matter of the agreement. No addition to, variation, or amendment, or
                        consensual cancellation of any of the terms contained in the agreement shall be
                        of any force or effect unless it is reduced to writing and signed by both parties. No
                        indulgence shown or extension of time given by the Bank shall operate as an
                        estoppel against the Bank or waiver of any of the Bank’s rights unless recorded
                        in writing and signed by the Bank. The Bank shall not be bound by any express
                        or implied term, representation, warranty, promise or the like not recorded herein,
                        whether it induced the conclusion of any agreement and/or whether it was negligent
                        or not.
                      </p>
                      </div>
                      </div>
                      <div class="sub-head">
                        <span>14</span>
                       <div class="article">
                        <span>Availability of Funds</span>
                        <p>
                          The Bank shall not be liable for any failure to perform its obligations hereunder
                          resulting directly or indirectly from the action or inaction of any government or local
                          authority or any strike, boycott, blockade act of god, civil disturbance or for any
                          other act which is beyond the control of the Bank.
                        </p>
                        </div>
                        </div>
                        <div class="sub-head">
                          <span>15</span>
                         <div class="article">
                          <span>Loan protection</span>
                          <p>
                            The Bank requires all loans to have adequate loan protection cover. The Bank will
                            arrange the cover with its designated Insurance Provider in order to secure the
                            loan in the event of death or permanent disability of the borrower until such a time
                            as the loan is settled in full. The cost of the loan protection cover shall be at the
                            Bank’s sole discretion and shall either be deducted from loan amount upon
                            disbursement or include in the monthly instalments. The loan protection benefit
                            remains valid during the period of the borrower’s full compliance with these general
                            terms and conditions. A copy of the loan protection terms and conditions is available
                            on request.
                          </p>
                          </div>
                          </div>
                          <div class="sub-head">
                            <span>16</span>
                           <div class="article">
                            <span>Confidential Information</span>
                            <p>
                              The borrower agrees with the Bank that the Bank may:
                              <span class="mid-sub-text">16.1</span>hold and process, by computer or otherwise, any information obtained about the
                              borrower as a consequence of the loan(ies) contemplated in this agreement;<br/>
                              <span class="mid-sub-text">16.2</span>include personal data in the Bank’s systems which may be accessed by other
                              companies in the Bank’s group for credit assessment, statistical analysis including
                              behaviour and scoring and to identify products and services (including those
                              supplied by third parties) which may be relevant to the borrower; and<br/>
                              <span class="mid-sub-text">16.3</span>permit other companies within the Bank’s group to use personal data and any other
                              information it holds about the borrower to bring to its attention products and services
                              which may be of interest to the borrower.<br/>
                              The borrower hereby irrevocably authorises the Bank to disclose details of and
                              relating to the Customer’s accounts and loan to any other credit reference agency
                              or other institutions, as it deems necessary, provided that such disclosure shall
                              fall within the laws of Ghana.
                              The borrower hereby irrevocably authorises the Bank to obtain details of and
                              relating to the Customer’s accounts and loan with anybody or institution from a
                              credit reference agency, as it deems necessary, provided that such disclosure
                              shall fall within the laws of Ghana.
                              
                              
                            </p>
                            </div>
                            </div>
                  </div>

                  <!-- 2nd column -->

                <div>
                  <div class="sub-head">
                    <span> </span>
                    <div class="article">
                      <span> </span>
                  <p>The borrower further agrees that that the Bank may disclose its personal data
                    and/or information relating to the borrower including data and information relating
                    to its banking relationships with the Bank, this agreement or any documents referred 
                    to herein or the assets, business or affairs of the borrower outside the Bank’s group whether
                    such personal data and/or information is obtained after the borrower ceases to be
                    the Bank's borrower or during the continuance of the banker-borrower
                    relationship or before such relationship was in contemplation:<br/>
                    <span class="mid-sub-text">16.4</span>for fraud prevention purposes;<br/>
                    <span class="mid-sub-text">16.5</span>to licensed credit reference agencies or any other creditor, whether or not the
                    borrower is in breach of this agreement or any documents referred to herein or any
                    other obligations to the Bank;<br/>
                    <span class="mid-sub-text">16.6</span> to its external lawyers, auditors and other sub-contractors or persons acting as the
                    Bank's agents;<br/>
                    <span class="mid-sub-text">16.7</span>to any person who may assume the Bank's rights under this agreement;<br/>
                    <span class="mid-sub-text">16.8</span>if the Bank has a right or duty to disclose or are permitted or compelled to do so
                    by law; and<br/>
                    <span class="mid-sub-text">16.9</span> for the purpose of exercising any power, remedy, right, authority, or discretion
                    relevant to this agreement or any other document.
                    The borrower acknowledges and agrees that, notwithstanding the terms of any
                    other agreement between the borrower and the Bank, a disclosure of information
                    by the Bank in the circumstances contemplated by this clause does not violate any
                    duty owed to the borrower by law, under the common law or pursuant to any
                    agreement between the Bank and the borrower or in the ordinary course of banking
                    business and the customs, usage and practice related thereto and further that
                    disclosure as aforesaid may be made without reference to or further authority from
                    the borrower and without inquiry by
                    the Bank as to the justification for or validity of such disclosure.
                    </p>
                  </div>
                </div>

                
                  <div class="sub-head">
                <span>17</span>
                <div class="article">
                  <span>Governing Law and Jurisdiction</span>
                  <p>
                    This agreement shall be governed and construed in accordance with Ghana law
                    and the courts of Ghana shall have jurisdiction to settle any disputes which may
                    arise in connection therewith without prejudice to the exclusive right of the Bank
                    to institute proceedings against the borrower in respect thereof in any other
                    jurisdiction.
                  </p>
                 
                 </div>
                 </div>
                 <div class="sub-head">
                  <span>18</span>
                  <div class="article">
                    <span>Negative Pledge of Assets</span>
                    <p>
                      The borrower agrees not to:<br/>
                      <span class="mid-sub-text">18.1</span>mortgage, pledge, assign, charge, hypothecate or otherwise encumber or further
                      encumber any of his/her movable or immovable assets to secure any liability of
                      any nature (excluding encumbrances existing at the date of this letter of offer
                      provided that they have been advised to the Bank in writing);<br/>
                      <span class="mid-sub-text">18.2</span>dispose of or attempt to dispose of any of his/her assets for the express purpose
                      of raising money from the said disposal, other than in the normal course of his/her
                      trading activities; or<br/>
                      <span class="mid-sub-text">18.3</span>become a surety or guarantor for or give any indemnity on behalf of any third party
                      whomsoever or render himself/herself liable in any way whatsoever for the debts
                      or liabilities of any party;
                      without the prior consent of the Bank, while banking loan are accorded to the
                      borrower by the Bank, which consent shall not be unreasonably withheld. This
                      restriction shall not apply to suspensive sale contracts entered into in the normal
                      course of the Customer’s business
                    </p>
                   
                   </div>
                   </div>
                   <div class="sub-head">
                    <span>19</span>
                    <div class="article">
                      <span>Interest</span>
                      <p>
                        <span class="mid-sub-text">19.1</span>Interest rate payable on the loans granted shall:-<br/>
                        <span class="mid-sub-text">19.1.1</span>Be calculated on the basis of 365 day year, for loans in Ghana Cedi and a 360
                        day for loans denominated in foreign currency, irrespective of whether or not the
                        year in question is a leap year.<br/>
                        <span class="mid-sub-text">19.1.2</span>Accrue from day to day and be debited to the applicant’s account monthly in areas.<br/>
                        <span class="mid-sub-text">19.2</span>Rate of interest quoted or determined initially or altered subsequently by the Bank
                        apply to utilization of loans within the limit(s) agreed by the Bank in writing and may
                        be subject to interest at such higher rate(s) as the Bank may determine at its
                        discretion at the time when such indebtedness is incurred and/or at any time
                        thereafter. Advising this rate does not constitute an agreement by the Bank allow
                        borrowing in excess of the approved loans limits.<br/>
                        <span class="mid-sub-text">19.3</span>If any sum payable by the applicant under any of these loans is not paid when due
                        that will attract interest at a default rate to be determined by the Bank from time
                        to time from the date on which such sum fell due to the date on which it is paid.<br/>
                        <span class="mid-sub-text">19.4</span>The Bank may, from time to time vary the interest rate applicable to the applicant’s
                        loan if the base interest fluctuate during the agreed term of the Loan. The resultant
                        variation in interest rate applicable will be passed on to the loan beneficiary via
                        instalment adjustment.<br/>
                        <span class="mid-sub-text">19.5</span>The Bank reserves the right to vary the rate of interest payable on revolving/redraw
                        of the Revolving Term Loan and Revolving Line of Credit.
                      </p>
                     
                     </div>
                     </div>
                     
                       <div class="sub">
                        <div class="article">
                          <div class="art">
                          <span>Applicant’s acceptance of terms and conditions</span>
                          </div>
                          <p style="font-size:13px;padding:10px">I confirm that the general terms and conditions for this loan facility have
                            been explained to me and I have also read through them and I agree to be
                            bound by them. I further confirm that a copy of the facility terms and
                            conditions have been given to me.</p>
                          <div class="Input">
                            <div id="input">
                              <label>Applicant's name</label>
                              <input
                                class="example-input"
                                type="text"
                                formControlName="applicantName"
                              />
                            </div>
                            
                            <div id="input">
                              <label>Date</label>
                              <input
                                class="example-input"
                                placeholder=""
                                type="date"
                                formControlName="acceptanceDate"
                              />
                            </div>
                  
                          </div>
                         
                         </div>
                         </div>
                 </div>
                
                
                </div>

                           
          </form>
          
        </div>
         
      </div>  
    </div>