<div class="personal-info">
    <div class="sub-personal-info">
          <div class="personal-input">
            <form class="example-form" [formGroup]="CreditReferenceBureauConsentCsdField" autocomplete="off">
              
          <div class="instruct-text">
            <span>Credit Reference Bureau Consent clause</span>
            (official use)  
            </div>

            <div class="info-text">
              <p>By submitting an application for credit facilities, 
                you agree to be bound by the following requirements 
                relating to the submission of information to the Credit
                Reference Bureau and the issue of a financial card whether
                 or not the application for credit facilities is approved;
              </p>
                </div>
                <div class="sub-head">
                  <h3>Definitions</h3>
                  <p> <span>“Credit Reference Bureau”</span>means all registered credit reference bureaus being utilized by the Bank from time-to-time;</p>
                  <p><span>“Customer Credit Information” </span>means information concerning</p>
                 
                  <div class="sub-head-two">
                      <span>i</span>
                      <div class="flex-text">
                      <p> 
                      your credit history, including applications for credit,
                      credit agreements to which you are or have been a party,
                      pattern of payment or default under any such credit
                       agreements, incidence of enforcement actions with respect
                      to any such credit agreement,the circumstances of termination 
                      of any such credit agreement;
                     </p>  
                    </div>
                    </div>
                      
                      
                    
                    <div class="sub-head-two">
                      <span>ii</span>
                      <div class="flex-text">
                      <p>
                      your financial history, including your past and current income,
                       assets and liabilities and other matters with respect to your 
                       income and financial means;
                      </p>
                   
                  </div>
                  </div>

                  <div class="sub-head-two">
                    <span>iii</span>
                    <div class="flex-text">
                    <p>
                      your education, employment, career, 
                      professional or business history, including
                       the circumstances of termination of any employment, 
                       career,professional or business relationship; or
                    </p>
                 
                </div>
                </div>

                <div class="sub-head-two">
                  <span>iv</span>
                  <div class="flex-text">
                  <p>
                    your identity, including your name,
                    date of birth, identity number, marital
                    status and family relationships, past 
                    and current addresses and other
                    contact details and related matters.
                  </p>
               
              </div>
              </div>

              <p> 
                <span>“Data”</span>means the raw factual information 
                furnished by us to the Credit Reference Bureau including,
                 but not limited to, credit applications, credit agreements,
                payment history or patterns or Customer Credit Information 
                collected and arranged by the Credit Reference Bureau and its
                 employees and processed by the Credit Reference Bureau’s 
                 computer systems which are stored in the database.</p>

             <p><span>Consent to disclosure of confidential information</span></p> 
             <p><span>You hereby</span></p>
              
             <div class="sub-head-three">
              <span style="margin-left: 20px;">a</span>
              <div class="flex-text">
             <p>
              consent to the receipt, sharing, provision and exchange
               of data with Credit Reference Bureau and with other licensed
                financial institutions and micro finance deposit taking 
                institutions through the Credit Reference Bureau provided 
                that you reserve the right to lodge a complaint with the Credit
              Reference Bureau or to challenge any Customer Credit Information 
              held by the Credit Reference Bureau in your respect;
            </p> 
            </div>   
            </div>

             <div class="sub-head-two">
              <span>i</span>
              <div class="flex-text">
              <p> 
                assisting us to perform our statutory 
                of your creditworthiness; and
             </p>  
            </div>
            </div>
              
              
            
            <div class="sub-head-two">
              <span>ii</span>
              <div class="flex-text">
              <p>
                deciding whether or not to grant you credit; and
              </p>
           
          </div>
          </div>

          <div class="sub-head-two">
            <span>iii</span>
            <div class="flex-text">
            <p>
              monitoring your credit profile should we grant you credit; and
            </p>
         
        </div>
        </div>

        <div class="sub-head-two">
          <span>iv</span>
          <div class="flex-text">
          <p>
            filing our Customer Credit Information with 
            the Credit Reference Bureau.
          </p>
       
      </div>
      </div>

      <div class="sub-head-three">
        <span style="margin-left: 20px;">b</span>
        <div class="flex-text">
       <p>
        consent to the receipt, sharing, provision and exchange
         of data with Credit Reference Bureau and with other licensed
          financial institutions and micro finance deposit taking 
          institutions through the Credit Reference Bureau provided 
          that you reserve the right to lodge a complaint with the Credit
        Reference Bureau or to challenge any Customer Credit Information 
        held by the Credit Reference Bureau in your respect;
      </p> 
        </div>
        </div>

        <div class="sub-head-three">
          <span style="margin-left: 20px;">c</span>
          <div class="flex-text">
      <p>
        acknowledge that the Customer Credit Information 
        obtained may include positive or negative information
         regarding your payment record;
      </p>
      </div>
      </div> 

      <div class="sub-head-three">
        <span style="margin-left: 20px;">d</span>
        <div class="flex-text">
      <p>
        acknowledge that the Credit Reference Bureau
         is authorised to collect negative information
          on the background and credit history relating 
          to any non performing obligations you may have;
      </p> 
    </div>
    </div>

    <div class="sub-head-three">
      <span style="margin-left: 20px;">e</span>
      <div class="flex-text">
      <p>
        consent to the collection, recording, retention 
        and submission of all data relating to your economic,
         financial and commercial obligations in order to
        determine your overall debt exposure and ability to pay.
      </p> 
      </div>
      </div>

      </div>

      
                          <div class="Input">
                            <div class="intro-text">
                              <span>1 Authorised signatory</span>
                            <div id="input">
                              <label>Name</label>
                              <input
                                class="example-input"
                                type="text"
                                formControlName="authorityName"
                              />
                            </div>
                            <div id="input">
                              <label>Designation (where applicable)</label>
                              <input
                                class="example-input"
                                type="text"
                                formControlName="authorisedDesignation"
                              />
                        </div>
                        <div id="input">
                          <label>Date</label>
                          <input
                            class="example-input"
                            type="date"
                            formControlName="date"
                          />
                    </div>
                      </div>

                        <div class="intro-text">
                          <span>1 Witness</span>
                          <div id="input">
                            <label>Name</label>
                            <input
                              class="example-input"
                              type="text"
                              formControlName="witnessName"
                            />
                          </div>
                          <div id="input">
                            <label>Designation (where applicable)</label>
                            <input
                              class="example-input"
                              type="text"
                              formControlName="witnessDesignation"
                            />
                      </div>
                      <div id="input">
                        <label>Date</label>
                        <input
                          class="example-input"
                          type="date"
                          formControlName="dateWitnessed"
                        />
                  </div>
                  </div>
                            </div>

                           
          </form>
          
        </div>
         
      </div>  
    </div>