<div class="personal-info">
    <div class="sub-personal-info">
          <div class="personal-input">
            <div class="text">
              <span><b style="font-size: 18px;">General terms and conditions</b><br>
                <b style="font-size: 15px;">applicable to all personal loans</b><br>
                <b style="font-size: 15px;">(Fixed Term Loan and Revolving Term Loan)</b><br>
             </span>  
              </div>
            <form class="example-form" [formGroup]="GeneralTermsConditionCsdField" autocomplete="off">
              
            <div class="info-text">
              <col sm="12">
              <p>
                <span><p style="font-size: 14px;top:10px;text-align:justify">Definitions</p></span>
               <span>“account”</span>  means the loan account opened in our books in respect of this agreement;<br/>
               <span>“agreement”</span>  means the personal loan application form, any additional information forms, and the letter of offer read together with these terms and conditions and all payment instructions,
                letters, notices and appendices hereto;<br/>
                <span>“applicant”</span> <span>“borrower”</span>, <span>“you”</span> or <span>“your”</span> means the person applying for the personal loan in the Personal Loan Application,<br/>
               <span>“bank"</span> , <span>“we”</span>, <span>“us” </span>or <span>“our”</span> means Stanbic Bank Ghana Limited its successors in title or assigns;<br/>
                <span>“base interest rate"</span> means the publicly quoted rate of interest for the Ghana Cedi or applicable currency ruling from time to time, subject to change at the Bank’s sole discretion;<br/>
                <span>“business days”</span> mean any days other than a Saturday, Sunday or a public holiday in Ghana ;<br/>
               <span>“current account"</span>  means an active account into and from which deposits and withdrawals can be made by way of cheques, bills, repayment authorisations or any of our self-service
                channels;<br/>
                <span>“loan”</span> means the amount we have agreed to lend you in terms of this agreement;<br/>
                <span>“margin"</span> means the number of percentage points interest charged by us above or below the base interest rate;
                <span>“minimum repayment”</span> means the amount due shown on your statement;<br/>
                <span>“payment date”</span> or <span>“due date”</span> means the due date for payment of all amounts due and payable as shown on your statement; and<br/>
                <span>“repayment"</span> means a payment made by you to us to pay off your loan.<br/>
                <span>“limit”</span>, <span>“agreed limit”</span>,<span>“credit limit”</span>  or <span>"reduced credit limit"</span> means the amount of the loan that is available for use by you in terms of this agreement;<br/>
              </p>
            <col/>
              </div>
                <div class="head">
                  <!-- 1st column beginning -->
                  <div>
                <div class="sub-head">
                  <span>1</span>
                 <div class="article">
                  <span>Costs and Expenses</span>
                  <p>
                    
                    The borrower shall reimburse to the Bank on demand on a full indemnity basis
(whether or not the Loan is drawn down) all valuation, insurance and legal fees
and other out of pocket expenses (including stamp duties and Value Added Tax)
incurred by the Bank in connection with the creation or any revaluation of the
Security or the enforcement or preservation by the Bank of its rights under this
agreement or the Security (or the documents referred to in them).
                  </p>
                  </div>
                  </div>
                  <div class="sub-head">
                    <span>2</span>
                   <div class="article">
                    <span>Remedies and Waivers</span>
                    <p>
The Bank’s rights under this agreement are cumulative, may be exercised as often
as the Bank considers appropriate and are in addition to its rights under the general
law. The Bank’s rights (whether arising under this agreement or under the general
law) will not be capable of being waived or varied, otherwise than by an express
waiver or variation in writing. Any failure by the Bank to exercise, or any delay in
exercising, any of such rights will not operate as a waiver or variation of that or any
other such right; any defective or partial exercise of any such right will not preclude
any other or further exercise of that or any other such rights; and no act or course
of conduct or negotiation on the part of the Bank shall preclude the Bank from
exercising any such right or constitute a suspension or any variation of such right.
                    </p>
                    </div>
                    </div>
                    <div class="sub-head">
                      <span>3</span>
                     <div class="article">
                      <span>Payments</span>
                      <p>All payments by the borrower under the Loan, whether of principal, interest, fees,
                        costs or otherwise, shall be made in full in immediately available funds, without
                        set-off or counterclaim and free and clear of any deduction or withholding on account
                        of tax or otherwise. If the borrower is required by law to make any deduction or
                        withholding from any payment under the Loan, the sum due from the borrower in
                        respect of such payment shall be increased to the extent necessary to ensure that,
                        after the making of such deduction or withholding, the Bank receives a net sum
                        equal to the sum which it would have received had no such deduction or withholding
                        been required.
                      </p>
                      </div>
                      </div>
                      <div class="sub-head">
                        <span>4</span>
                       <div class="article">
                        <span>Certificate</span>
                        <p>
                          A certificate signed by any manager of the Bank (whose appointment or authority
                          need not be proved) as to any amount owing to the Bank under the agreement,
                          by the borrower, the rates of interest and any other fact stated therein, shall, on
                          its mere production, be prima facie proof of the content of such certificate.
                        </p>
                        </div>
                        </div>
                        <div class="sub-head">
                          <span>5</span>
                         <div class="article">
                          <span>Notices</span>
                          <p>
                            The parties choose the addresses set out in the agreement as the street addresses
                            at which the borrower or the Bank, as the case may be, will accept delivery of legal
                            notices “(“the notice address”). Should either party wish to change its/his/her notice
                            address, the other party must be notified in writing, and this notice must be hand
                            delivered or sent by registered post.
                            All other notices or communications required or permitted to be given in respect
                            of the provisions of this agreement will be valid only if in writing and sent to either
                            party’s notice, email or postal address or fax number provided in the agreement
                            or any changed address advised in terms of this clause, provided that any documents
                            to be delivered in respect of legal proceedings in connection with this agreement
                            may only be served on the parties’ notice address
                            Any notice: (i) sent by prepaid registered post will be deemed to have been received
                            on the 5th (fifth) business day after posting; or ii) sent by ordinary mail will be
                            deemed to have been received on the 7th (seventh) business day after posting;
                            or iii) delivered by hand will be deemed to have been received on the day of
                            delivery; or iv) sent by telefax or e-mail will be deemed to have been received on
                            the 1st (first) business day after the date it was sent.
                            Notwithstanding anything to the contrary contained herein, a written notice or
                            communication actually received by either party will be an adequate written notice
                            or communication to that party even though it was not sent to or delivered to your
                            notice, postal or e-mail address or telefax number.
                          </p>
                          </div>
                          </div>
                          <div class="sub-head">
                            <span>6</span>
                           <div class="article">
                            <span>Set Off</span>
                            <p>
                              The Bank may, at any time without notice or demand to the borrower and
                              notwithstanding any settlement of account or other matter whatsoever, combine
                              or consolidate all or any then existing accounts of the borrower with the Bank
                              including accounts in the name of the Bank whether current, deposit, loan or of
                              any other nature whatsoever, whether subject to notice or not and in whatever
                              currency denominated and whether held in the name of the borrower alone or
                              jointly with others wherever situate and set off or transfer any sums standing to the
                              credit of any one or more such accounts in or towards satisfaction of any obligations
                              and liabilities to the Bank of the borrower whether such liabilities be present, future,
                              actual, contingent, primary, collateral, joint or several and the borrower expressly
                              waives any rights of set-off that the borrower may have, so far as is permitted by 
                              law, in respect of any claim which it may now or
                              
                            </p>
                            </div>
                            </div>
                  </div>

                  <!-- 2nd column -->

                <div>
                  <div class="sub-head">
                    <span> </span>
                    <div class="article">
                  <p> at any time hereafter have against
                  the Bank and the Bank may use any such money to purchase any currency or
                    </p>
                  </div>
                </div>

                
                  <div class="sub-head">
                <span>7</span>
                <div class="article">
                  <span>Severability</span>
                  <p>
                    Each provision of the agreement is severable, the one from the other and, if at any
                    time any provision is or becomes or is found to be illegal, invalid, defective or
                    unenforceable for any reason by any competent court, the remaining provisions
                    shall be of full force and effect and shall continue to be of full force and effect.
                  </p>
                 
                 </div>
                 </div>
                 <div class="sub-head">
                  <span>8</span>
                  <div class="article">
                    <span>Currency Clauses</span>
                    <p>
                      If any part of the Loan is denominated in a foreign currency ("the currency of the
                      account"), payment under or the repayment of such Loan will be made in such
                      foreign currency.
                      Any money received by the Bank, or by any person appointed by the Bank, in a
                      currency other than the currency of the account may be converted by the Bank into
                      the currency of the account or such other currency as the Bank considers necessary
                      to cover the obligations or liabilities of the borrower. The Bank shall use the Bank’s
                      spot rate of exchange for such conversion.
                      In the event of any legislation or extreme change in market conditions affecting
                      the ability of the Bank to provide or fund loan in foreign currency, the Bank reserves
                      the right, at its sole discretion, to switch any foreign currency indebtedness by the
                      borrower into the local currency of Ghana at the rate ruling on the day of such
                      switch. Also, in the event that the Bank demands repayment of any indebtedness
                      of the borrower, after such demand has been made, the Bank reserves the right,
                      at its sole discretion, to switch any foreign currency indebtedness by the borrower
                      into the local currency of Ghana at the Bank’s spot rate ruling at the day of such
                      switch.
                      In exercising the aforementioned rights to switch foreign currency indebtedness
                      into the local currency of Ghana, the Banks will not be liable for any losses resulting
                      from exchange rate fluctuations.
                    </p>
                   
                   </div>
                   </div>
                   <div class="sub-head">
                    <span>9</span>
                    <div class="article">
                      <span>Assignment</span>
                      <p>
                        The borrower shall not be entitled to assign all or any part of his/her obligations or
                        benefits under this agreement without the prior written consent of the Bank, which
                        consent will not be unreasonably withheld.
                        The Bank shall be entitled, without the consent of or notice to the borrower, to cede,
                        assign and/or delegate all or any part of its rights and/or obligations under the
                        agreement and/or the Security, either absolutely or as collateral security, to any
                        person (even though that cession, assignment and/or delegation may result in a
                        splitting of claims against the borrower). Even if the Loan and/or Security is sold
                        or ceded, the borrower acknowledges that the servicing and/or administration of
                        such Loan and/or Security may:<br/>
                        <span class="mid-sub-text">9.1</span>still be performed by the Bank on behalf of the purchaser/cessionary or cedent; or<br/>
                        <span class="mid-sub-text">9.2</span>be contractually managed by a third party on behalf of the purchaser/cessionary<br/>
                        or cedent; or<br/>
                        <span class="mid-sub-text">9.3</span>be performed by the purchaser/cessionary or cedent itself.
                        These services and administrations can include the giving of notices, realisation
                        of any collateral and the recovery of amounts due under the loan agreement.
                        Even if the Loan (or any part thereof) is sold, ceded, assigned and/or delegated
                        to any person ("<span>the transferee</span>"), the borrower acknowledges that the Bank may
                        elect not to cede, assign or sell its rights under the Security and/or any other
                        collateral ("relevant collateral") to the transferee such that, notwithstanding the sale,
                        cession, assignment and/or delegation of the Loan (or any part thereof) to the
                        transferee, the relevant collateral shall, as between the Bank (or its successors in
                        title or assigns under the relevant collateral) and the borrower, continue to cover
                        the indebtedness of the borrower to the Bank (or its successors in title or assigns
                        under the relevant collateral) on the terms set out in the relevant Security documents.
                      </p>
                     
                     </div>
                     </div>
                     <div class="sub-head">
                      <span>10</span>
                      <div class="article">
                        <span>Material Adverse Change</span>
                        <p>
                          In the event that a Material Adverse Change has occurred in the financial conditions,
                          results of operations or business of the borrower, the Bank reserves the right to
                          convert the Loan to a loan repayable on demand or to call for cash cover for the
                          full extent of the borrower's indebtedness to the Bank, inclusive of contingent
                          liabilities.
                          “Material Adverse Change” shall mean a material adverse change in the Bank’s
                          opinion and agreed by the borrower. If the borrower should not agree within 14
                          days of being notified by the Bank that a Material Adverse Change has taken place,
                          then the matter shall be referred to the Bank’s auditors for their opinion and the
                          borrower agrees that the opinion of the Bank’s auditors shall be final and binding.
                        </p>
                       
                       </div>
                       </div>
                       <div class="sub-head">
                        <span>11</span>
                        <div class="article">
                          <span>Severability</span>
                          <p>The borrower represents and warrants to the Bank that:<br/>
                            <span class="mid-sub-text">11.1</span>this agreement and the Security, when executed, will constitute legal, valid and
                            binding obligations or those of the provider thereof;<br/>
                            <span class="mid-sub-text">11.2</span>/she has the power to enter into and perform in terms of the agreement and the
                          </p>
                         
                         </div>
                         </div>
                 </div>
                
                
                </div>

                           
          </form>
          
        </div>
         
      </div>  
    </div>